---
# Using LLVM version 9.0.0
# You need to have installed LLVM.

# For .clang-format options and customizations see the documentation:
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

AlignAfterOpenBracket:                           Align
AlignConsecutiveAssignments:                     true
AlignConsecutiveDeclarations:                    true
AlignConsecutiveMacros:                          true
AlignEscapedNewlinesLeft:                        true
AlignOperands:                                   true
AlignTrailingComments:                           true
AllowShortBlocksOnASingleLine:                   false
AllowShortCaseLabelsOnASingleLine:               false
AllowShortFunctionsOnASingleLine:                None
AllowShortIfStatementsOnASingleLine:             false
AllowShortLoopsOnASingleLine:                    false
AlwaysBreakAfterDefinitionReturnType:            None
AlwaysBreakAfterReturnType:                      None
AlwaysBreakBeforeMultilineStrings:               false
AlwaysBreakTemplateDeclarations:                 No
BinPackArguments:                                false
BinPackParameters:                               false
BreakBeforeBraces:                               Custom
BraceWrapping:
  AfterCaseLabel:                                true
  AfterClass:                                    true
  AfterControlStatement:                         true
  AfterEnum:                                     true
  AfterFunction:                                 true
  AfterNamespace:                                true
  AfterObjCDeclaration:                          true
  AfterStruct:                                   true
  AfterUnion:                                    true
  AfterExternBlock:                              true
  BeforeCatch:                                   true
  BeforeElse:                                    true
  IndentBraces:                                  false
  SplitEmptyFunction:                            true
  SplitEmptyRecord:                              true
  SplitEmptyNamespace:                           true
FixNamespaceComments:                            true
BreakAfterJavaFieldAnnotations:                  true
BreakBeforeBinaryOperators:                      None
BreakBeforeTernaryOperators:                     true
BreakConstructorInitializers:                    AfterColon
BreakInheritanceList:                            AfterColon
BreakStringLiterals:                             true
ColumnLimit:                                     100
# CommentPragmas                                   
CompactNamespaces:                               false
ConstructorInitializerAllOnOneLineOrOnePerLine:  true
ConstructorInitializerIndentWidth:               120
ContinuationIndentWidth:                         4
Cpp11BracedListStyle:                            true
DerivePointerAlignment:                          false
DisableFormat:                                   false
FixNamespaceComments:                            true
# ForEachMacros:                                   
IncludeBlocks:                                   Preserve
# IncludeCategories:                               
# IncludeIsMainRegex:                              
IndentCaseLabels:                                true
IndentPPDirectives:                              None
IndentWidth:                                     4
IndentWrappedFunctionNames:                      true
JavaScriptQuotes:                                Double
JavaScriptWrapImports:                           true
KeepEmptyLinesAtTheStartOfBlocks:                false
Language:                                        Cpp
# MacroBlockBegin:                                 
# MacroBlockEnd                                    
MaxEmptyLinesToKeep:                             1
NamespaceIndentation:                            All
ObjCBinPackProtocolList:                         Never
ObjCBlockIndentWidth:                            4
ObjCSpaceAfterProperty:                          true
ObjCSpaceBeforeProtocolList:                     true
PenaltyBreakAssignment:                          4
PenaltyBreakBeforeFirstCallParameter:            4
PenaltyBreakComment:                             4
PenaltyBreakFirstLessLess:                       4
PenaltyBreakString:                              4
PenaltyBreakTemplateDeclaration:                 4
PenaltyExcessCharacter:                          4
PenaltyReturnTypeOnItsOwnLine:                   4
PointerAlignment:                                Left
# RawStringFormats:                                
ReflowComments:                                  true
SortIncludes:                                    false
SortUsingDeclarations:                           false
SpaceAfterCStyleCast:                            false
SpaceAfterLogicalNot:                            false
SpaceAfterTemplateKeyword:                       true
SpaceBeforeAssignmentOperators:                  true
SpaceBeforeCpp11BracedList:                      true
SpaceBeforeCtorInitializerColon:                 false
SpaceBeforeInheritanceColon:                     false
SpaceBeforeParens:                               ControlStatements
SpaceBeforeRangeBasedForLoopColon:               false
SpaceInEmptyParentheses:                         false
SpacesBeforeTrailingComments:                    1
SpacesInAngles:                                  false
SpacesInCStyleCastParentheses:                   false
SpacesInContainerLiterals:                       false
SpacesInParentheses:                             false
SpacesInSquareBrackets:                          false
Standard:                                        Cpp11
TabWidth:                                        4
UseTab:                                          Never
